body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0%;
}

.heropage {
    padding-top: 50px;
    color:#3b3b3b;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}
.instruction{
    color:#3b3b3b;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
.gameview {
    display: flex;
    gap: 20px;
    justify-content: center;

}

.userchoice {
    padding: 20px;
    border-radius: 5px;
    background-color:#dddddd;
    color: #3b3b3b;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.size {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    padding: 20px 30px 20px;
    border-radius: 5px;
    background-color:#3b3b3b;
    color: white;
    transition: padding .4s, background .1s;

}

.size:hover {
    background-color:black;
}

.computing {
    border-radius: 5px;
    background-color:#dddddd;
    width: 700px;
    display: flex;
    flex-direction: column;
   
}
.computing-hero {
    display: flex;
    justify-content:space-between;
    padding-left:20px;
    padding-right:20px;
    align-items: center;
    font-size: medium;
    font-weight: 600;
    background-color:#3b3b3b;
    color:white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.results{
    display: flex;
    align-items: center;
    gap: 10px;

}
.scoreholder {
    background-color:white;
    color:#3b3b3b;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.game-dev{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 100%;

}
#resultsboard{
   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:500px;
    font-size: large;
    color: #3b3b3b;

}
.computerBox, 
.playerBox{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color:#3b3b3b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.textSize{
    font-size:x-large;
    font-weight: bold;
}
.textSize2{
    font-size:40px;
    font-weight: bold;
    width:600px;
    color:#3b3b3b;

}
.holdcontainer{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{

    background-color:white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    box-shadow: 5px 10px 30px #3b3b3b;
    
}
#playerEmoji,
#computerEmoji{
font-size:70px;
}
#playerHolder,
#computerHolder{
    background-color: white;
    border-radius: 5px;
    height: 15px;
    padding:5px;
    color: #3b3b3b;
    text-align: center;
    justify-content: center;
}
footer{
    background-color: #3b3b3b;
    color: #dddddd;
    height: 40px;
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
}
#reset{
    font-size: small;
    border-radius: 5px;
    background-color:#3b3b3b;
    color: white;
    border-color: #cccccc;
    margin-top: 15px;
    padding:5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}