body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    background-color: #cccccc;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0%;
}

.heropage {
    padding: 20px;
    color:#ffffff;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;

}

.gameview {
    display: flex;
    gap: 20px;
    justify-content: center;

}

.userchoice {
    padding: 20px;
    border-radius: 5px;
    background-color: #9aa7db;
    color: #ffffff;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.size {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    padding: 20px;
    border-radius: 5px;
    background-color:#6964a6;
    color: white;
    transition: padding .4s, background .1s;

}

.size:hover {
    background-color:#b700ff;
    padding: 21px;
}

.computing {
    border-radius: 5px;
    background-color:#9aa7db;
    width: 700px;
    display: flex;
    flex-direction: column;
   
}
.computing-hero {
    display: flex;
    justify-content:space-between;
    padding-left:20px;
    padding-right:20px;
    align-items: center;
    font-size: medium;
    font-weight: 600;
    background-color:#6964a6;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.results{
    display: flex;
    align-items: center;
    gap: 10px;

}
.scoreholder {
    background-color:#ffffff;
    color:#6964a6;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.game-dev{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 100%;

}
#resultsboard{
   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:500px;
    font-size: large;
    color: #ffffff;

}
.computerBox, 
.playerBox{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color:#6964a6;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.textSize{
    font-size:x-large;
    font-weight: bold;
}
.textSize2{
    font-size:40px;
    font-weight: bold;
    width:600px;
    color: #ffffff;

}
.holdcontainer{
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{

    background-color: #b8b6d3;
    padding: 10px;
    border-radius: 10px;
    width: 902px;
    display: flex;
}
#playerEmoji,
#computerEmoji{
font-size:70px;
}
#playerHolder,
#computerHolder{
    background-color: #ffffff;
    border-radius: 5px;
    height: 15px;
    padding:5px;
    color: #6964a6;
    text-align: center;
    justify-content: center;
}
.footer{
    background-color: #6964a6;
    color: #ffffff;
    height: 40px;
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
}
#reset{
    font-size: small;
    border-radius: 5px;
    background-color:#6964a6;
    color: white;
    border-color: #cccccc;
    margin-top: 15px;
    padding:5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}