body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #362da9;
}


.heropage {
    padding: 20px;
    background-color: #362da9;
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;

}

.gameview {
    display: flex;
    gap: 20px;
    padding: 100px;
    justify-content: center;

}

.userchoice {
    padding: 20px;
    border-radius: 5px;
    background-color: #dfcec7;
}
.container {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bolder;
    padding: 20px;
    border-radius: 5px;
    background-color: #6c58a7;
    color: white;
    transition: padding .4s, background .1s;

}

button:hover {
    background-color: #2b305d;
    padding-top: 30px;
}

.computing {
    padding: 20px;
    border-radius: 5px;
    background-color:#ffffff;
    width: 700px;
    display: flex;
    flex-direction: column;
   
}
.computing-hero {
    display: flex;
    justify-content: end;
    gap: 30px;
    border-bottom-width: 10px;
    border-bottom-color: #2b305d;
    padding-bottom: 30px;
    text-align: center;
}
.hero-right {
    background-color:#6c58a7;
    color: #ffffff;
    width: 120px;
    padding: 8px;
    border-radius: 5px;
}
.game-dev{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    transition: transform 0.4s;
}
.box{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: #2b305d;
    color: #ffffff;
}